body {
    margin: 0;
    background-color: aquamarine;
}


img {
  max-width: 100%;
  display: block;
  min-width: 100%;
}








.mobile-flex-container {
  display: flex;
  flex-wrap: wrap;
}
.mobile-flex-item {
  flex: 1;
  border: 3px solid red;
  text-align: left;
  max-width: 25%;
  background-color: beige;
}
