body {
    margin: 0;
    background-color: aquamarine;
}


img {
    max-width: 100%;
    display: block;
    min-width: 100%;
}

.header {
  width: 100%;
  height: 900px;
  overflow: hidden; /* Lisää tähän overflow-sääntö */
}
.content {
  width: 100%;
  height: 100vh;
}