/* Voit lisätä nämä tyylit tiedostoon App.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  position: relative;
  z-index: 1; /* Lisätty z-indeksi parallax-efektiä varten */
}

.content-wrapper {
  text-align: center;
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  transform: translateY(40vh); /* Säädä haluamaksesi */
  z-index: 2; /* Lisätty z-indeksi tekstikappaleelle */
}

.content-title {
  font-size: 12vh; /* Säädä haluamaksesi */
  line-height: 1.4;
}

.lorem-ipsum {
  text-align: center;
  color: #333;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Lisätty z-indeksi tekstikappaleelle */
}

/* Parallax-efekti */
.background.up-scroll {
  transform: translate3d(0, -50px, 0); /* Säädä haluamaksesi */
}

.background.down-scroll {
  transform: translate3d(0, 50px, 0); /* Säädä haluamaksesi */
}
